beautifulsoup4==4.10.0
braceexpand==0.1.7
lxml==4.6.2
matplotlib==3.3.1
nltk==3.5
pdfminer3==2018.12.3.0
Pillow==9.0.0
psutil==5.7.2
PyPDF2==1.26.0
RAKE==1.0
rake_nltk==1.0.4
setuptools==59.7.0
SPARQLWrapper==1.8.5
tkinterhtml==0.7
tkinterweb==3.5.0
