beautifulsoup4~=4.10.0
braceexpand==0.1.7
lxml~=4.7.1
matplotlib~=3.5.1
nltk~=3.6.7
pdfminer3==2018.12.3.0
Pillow~=9.1.1
psutil~=5.9.0
PyPDF2==1.26.0
python-rake
setuptools~=60.3.1
SPARQLWrapper==1.8.5
tkinterhtml==0.7
tkinterweb==3.10.7

future~=0.18.2
pdfplumber~=0.7.1
# requests~=2.27.1
configparser~=5.0.2
zlib~=1.2.11
wheel~=0.35.1
openssl~=1.1.1h
cryptography~=37.0.2
# py~=1.9.0
keyring~=21.4.0
cython~=0.29.21
bs4~=0.0.1
pyamiimage~=0.0.12
numpy~=1.22.0
sklearn~=0.0
scikit-learn~=0.23.2
backports~=1.0