#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo {
  /* @version 2.1.11 Generic */
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-step-container-styles {
  box-shadow: 0 2px 0 0 #eb6500 inset, 0 0 0 1px rgba(115, 115, 115, 0.85) !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark {
  box-shadow: 0 2px 0 0 #eb6500 inset !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-light.els-pendo-tip {
  box-shadow: 0 -2px 0 0 #eb6500, 0 0 0 1px rgba(115, 115, 115, 0.85) !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark.els-pendo-tip {
  box-shadow: 0 -2px 0 0 #eb6500, 0 0 0 1px rgba(142, 142, 142, 0.85) !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-step-container-styles[data-vertical-alignment='Bottom Aligned'] {
  border-top: 2px solid #eb6500 !important;
  box-shadow: 0 -18px 0 0 #ebebeb !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-step-container-styles[data-vertical-alignment='Top Aligned'] {
  border-bottom: 2px solid #eb6500 !important;
  box-shadow: 0 18px 0 0 #ebebeb !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-step-container-styles[data-els-caret='top'] {
  box-shadow: 0 -2px 0 0 #eb6500, 0 0 0 1px rgba(115, 115, 115, 0.85) !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-step-container-styles[data-els-caret='left'] {
  box-shadow: -2px 0 0 0 #eb6500, 0 0 0 1px rgba(115, 115, 115, 0.85) !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-step-container-styles[data-els-caret='right'] {
  box-shadow: 2px 0 0 0 #eb6500, 0 0 0 1px rgba(115, 115, 115, 0.85) !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-step-container-styles[data-els-caret='bottom'] {
  box-shadow: 0 2px 0 0 #eb6500, 0 0 0 1px rgba(115, 115, 115, 0.85) !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark[data-els-caret='top'] {
  box-shadow: 0 -2px 0 0 #eb6500 !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark[data-els-caret='left'] {
  box-shadow: -2px 0 0 0 #eb6500 !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark[data-els-caret='right'] {
  box-shadow: 2px 0 0 0 #eb6500 !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark[data-els-caret='bottom'] {
  box-shadow: 0 2px 0 0 #eb6500 !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .pendo-tooltip-caret-border {
  display: none !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo [data-els-caret] ~ .pendo-tooltip-caret {
  background-image: linear-gradient(225deg, transparent 11px, #eb6500 11px, #eb6500 13px, currentColor 13px) !important;
  background-repeat: no-repeat;
  background-position: 0 -1px;
  background-size: 16px 20px;
  border: 0px none !important;
  color: #ebebeb;
  display: block !important;
  height: 20px !important;
  width: 16px !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-tip[data-els-caret] ~ .pendo-tooltip-caret {
  color: #f5f5f5;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark.els-pendo-tip[data-els-caret] ~ .pendo-tooltip-caret {
  color: #2e2e2e;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo [data-els-caret='left'] ~ .pendo-tooltip-caret {
  transform: translate(-1px, 13px) scaleY(-1) rotate(-90deg);
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo [data-els-caret='right'] ~ .pendo-tooltip-caret {
  transform: translate(1px, 13px) rotate(90deg);
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo [data-els-caret='top'] ~ .pendo-tooltip-caret {
  transform: translate(15px, -3px) rotate(0deg);
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo [data-els-caret='bottom'] ~ .pendo-tooltip-caret {
  transform: translate(1px, 3px) rotate(180deg);
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-box[data-els-caret='left'] ~ .pendo-tooltip-caret {
  transform: translate(-16px, 13px) scaleY(-1) rotate(-90deg);
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-box[data-els-caret='right'] ~ .pendo-tooltip-caret {
  transform: translate(16px, 13px) rotate(90deg);
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-box[data-els-caret='top'] ~ .pendo-tooltip-caret {
  transform: translate(15px, -18px) rotate(0deg);
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-box[data-els-caret='bottom'] ~ .pendo-tooltip-caret {
  transform: translate(0px, 18px) rotate(180deg);
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo #pendo-guide-container :focus {
  outline-offset: 1px !important;
  outline: 2px solid #eb6500 !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo #pendo-guide-container.els-pendo-mouse :focus {
  outline-color: transparent !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-multi-choice-poll-select-border:hover {
  border-color: currentColor;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-multi-choice-poll-select-border > select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 128" height="14" width="18"><path d="M1 51l7-7 38 38 38-38 7 7-45 45z" fill="%23007398"/></svg>');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 36px;
  color: inherit;
  font: inherit;
  padding: 0 40px 0 8px;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-multi-choice-poll-select-border > select > option {
  background: #fff;
  color: #2e2e2e;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark ._pendo-multi-choice-poll-select-border > select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 128" height="14" width="18"><path d="M1 51l7-7 38 38 38-38 7 7-45 45z" fill="%2344c6f4"/></svg>');
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-multi-choice-poll-select-border > select:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 128" height="14" width="18"><path d="M1 51l7-7 38 38 38-38 7 7-45 45z" fill="%23eb6500"/></svg>');
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo div._pendo-multi-choice-poll-select-border > div > span {
  display: flex !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo div._pendo-multi-choice-poll-select-border input.pendo-radio {
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #8e8e8e;
  box-sizing: border-box;
  left: 0;
  margin: 0;
  max-height: calc(1em + 4px);
  max-width: calc(1em + 4px);
  min-height: calc(1em + 4px);
  min-width: calc(1em + 4px);
  opacity: 1;
  padding: 0;
  position: relative;
  vertical-align: text-bottom !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo div._pendo-multi-choice-poll-select-border input.pendo-radio:hover {
  border-color: currentColor;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark div._pendo-multi-choice-poll-select-border input.pendo-radio:hover {
  border-color: #fff;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo div._pendo-multi-choice-poll-select-border input.pendo-radio:before {
  border-radius: 50%;
  bottom: 0;
  content: '';
  display: block;
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo div._pendo-multi-choice-poll-select-border input.pendo-radio:checked:before {
  background-color: #eb6500;
  border: 0.4em solid #eb6500;
  font-size: inherit;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo div._pendo-multi-choice-poll-select-border label.pendo-radio {
  background-color: transparent !important;
  color: currentColor !important;
  text-align: left !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo div._pendo-multi-choice-poll-select-border input.pendo-radio[type='checkbox'] {
  border-radius: 0;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo div._pendo-multi-choice-poll-select-border input.pendo-radio[type='checkbox']:before {
  border-radius: 0;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-number-scale-poll-wrapper {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo input[class*='_pendo-number-scale-']:focus + label {
  outline: 2px solid #eb6500;
  outline-offset: 1px;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo input[class*='_pendo-number-scale-'] {
  color: inherit;
  display: block !important;
  font: inherit;
  height: 40px;
  position: absolute;
  width: 40px;
  z-index: -1;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo label[class*='_pendo-number-scale-'] {
  border-radius: 0 !important;
  border: 2px solid #007398;
  font-family: inherit !important;
  height: 40px !important;
  margin-bottom: 4px !important;
  width: 40px !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo input[class*='_pendo-number-scale-'] + label:hover {
  border-color: #eb6500;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo input[class*='_pendo-number-scale-']:checked + label {
  border-color: transparant;
  background: #007398 !important;
  color: #fff !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-number-scale-poll-wrapper > span > div {
  display: flex;
  justify-content: center;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-number-scale-poll-wrapper > span:first-of-type > div {
  justify-content: flex-start;
  padding-left: 4px;
  text-align: left !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-number-scale-poll-wrapper > span:last-of-type > div {
  justify-content: flex-end;
  text-align: right !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark label[class*='_pendo-number-scale-'] {
  border-color: #44c6f4;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo .els-pendo-dark input[class*='_pendo-number-scale-']:checked + label {
  background: #44c6f4 !important;
  color: #2e2e2e !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo form._pendo-open-text-poll-wrapper {
  margin-bottom: -8px;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo form._pendo-open-text-poll-wrapper > textarea {
  border-color: #8e8e8e !important;
  border-style: solid !important;
  border-width: 1px 1px 2px !important;
  font-family: inherit;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo form._pendo-open-text-poll-wrapper > textarea::placeholder {
  color: inherit !important;
  opacity: 1;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo form._pendo-open-text-poll-wrapper > textarea:focus,
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo form._pendo-open-text-poll-wrapper > textarea:hover {
  border-color: currentColor !important;
  box-shadow: 0 0 !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-text-list-item {
  margin-bottom: 4px;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-text-list-item::marker {
  color: #eb6500;
  font-weight: 700;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo a._pendo-text-link {
  border-bottom: 2px solid transparent;
  display: inline !important;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo a._pendo-text-link:hover,
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo a._pendo-text-link > u._pendo-text-underline:hover {
  text-decoration: none !important;
  border-bottom: 2px solid #eb6500;
}
#pendo-g-8btpTFk4Hx4lVipp0VJEboVgaRo ._pendo-button {
  font-family: inherit;
}
